<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Successfully</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partials/succesfull.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>


<body id="registered-successfully">

    <div class="conteiner">
        <div class="imag">
            <img src="images/icons/success-check-icon.svg" alt="">
        </div>


        <div class="titulo">
            <h2>Cadastro Realizado Com Sucesso !!</h2>
        </div>

        <div class="texto-boas-vindas">
            <p>Seja Bem Vindo a Melhor Prataforma De Ensino Digital!! <br> Já Adicionamos Seu Cadastro a Lista de Proffys Disponiveis Basta Fica Atento No Seu whatsapp <br>La Voçê Ira Receber Chamadas Dos Nossos Alunos
            </p>
        </div>

        <div class="buttons-conteiner">
            <a class="liste" href="study">Lista De Proffys</a>
        </div>

        <div class="buttons-conteiner">
            <a class="control" href="control-panel">CPanel</a>
        </div>



    </div>

</body>

</html>